/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

#hero {
    background-image: url('images/co-denver.jpg');
    height: 55vh;
    padding-top: 80px;
    background-size: cover;
}

#activities {
    background: #efefd0;
    padding: 20px 0 50px 0;
}

img {
    width: 100px;
}